@using ServiceLayer.ViewModels.Client.Farsi
@model List<ProjectsHomeViewModel>

@if (Model.Count != 0)
{
    <section class="projects">
        <div class="title-text">
            <h3>پروژه‌ها</h3>
        </div>
        <div class="project-card">
            @foreach (var item in Model)
            {
            <div class="pcard">
                <div class="prjimg">
                        <img src="~/ViewPicture/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle" />
                    <h3>نام پروژه:</h3>
                    <p>@item.Title</p>
                    <h3>نوع سازه :</h3>
                    <p>@item.TypeStructureProject</p>
                    <h3>تاریخ شروع:</h3>
                    <p>@item.StartDate</p>
                    <h3>تعداد واحد :</h3>
                    <p>@item.NumberUnit</p>
                </div>
            </div>
            }
        </div>
    </section>

   
}
