@using ServiceLayer.ViewModels.Client.Farsi
@model List<NewsSiteViewModel>
@if(Model.Count != 0)
{ 
<section class="section section-tertiary section-no-border section-custom-construction">
	<div class="container">			
		<div class="row ">
			<div class="col">
				<h2 class="mb-0 text-color-dark">News</h2>
			</div>
		</div>
		<div class="row pb-4 pb-lg-0">

		 @foreach (var item in Model)
            {
			<div class="col-lg-3">
				<div class="recent-posts mt-4">
							<a asp-action="NewsSearch" asp-controller="Home" asp-route-slug="@item.Slug">
						<img class=" pb-3" src="~/ViewPicture/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle" width="250" height="140">
					</a>
					<article class="post">
						<div class="post-date">
							<span class="day">@item.StartDay</span>
							<span class="month">@item.StartMonth</span>
						</div>
								<h4 class="mb-1"><a class="text-color-dark" asp-action="NewsSearch" asp-controller="Home" asp-route-slug="@item.Slug">@item.Title</a></h4>
						<p class="mb-3">@item.MetaDescription</p>
								<a asp-action="NewsSearch" asp-controller="Home" asp-route-slug="@item.Slug">read more<i class="fas fa-long-arrow-alt-left align-middle"></i></a>
					</article>
				</div>
			</div>
		}

		</div>
	</div>
</section>
}