@using ServiceLayer.ViewModels
@using ServiceLayer.ViewModels.Admin.IdentityViewModels
@model BaseFilterViewModel<ListRoleViewModel>

@{
    ViewData["Title"] = "نمایش نقش ها";
    Layout = "~/Areas/administration/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;
}
<form method="get" asp-action="RolesList" id="formFilter">
    <input hidden value="@Model.PageIndex" id="pageId" name="pageId" />
</form>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="pe-3"><h4 class="page-title">@ViewData["title"]</h4></div>

    <div class="ms-auto">
        <a class="btn btn-success btn-lg" href="/administration/account/AddRole" >ایجاد</a>
    </div>
</div>
<hr />
<div class="card">

    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام نقش</th>
                    <th>وضعیت نقش</th>
                    <th> عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Entities)
                {
                    <tr>
                        <td> @counter</td>
                        <td> @obj.Title</td>
                        <td>
                            @if (obj.IsDeleted)
                            {
                                <p class="text-danger"> غیر فعال</p>

                            }
                            else
                            {
                                <p class="text-success">فعال</p>
                            }

                        </td>
                        <td>
                            <a href="/administration/account/EditRole/@obj.Id" class="btn btn-warning pull-right m-rl-5">
                                ویرایش
                            </a>
                            <a href="/administration/account/SetAccessLevelRole/@obj.Id" class="btn btn-info pull-right m-rl-5">
                                تعیین سطح دسترسی نقش
                            </a>
                            @if (obj.IsDeleted)
                            {
                                <a href="/administration/account/RecoveryRole/@obj.Id" class="btn btn-info">
                                     فعال
                                </a>
                            }
                            else
                            {
                                <a href="/administration/account/DeleteRole/@obj.Id" class="btn btn-danger">
                                    غیر فعال
                                </a>
                                
                            }
                          
                        </td>

                    </tr>
                    counter++;
                }
            </tbody>
        </table>

    </div>
    @if (Model.PageCount > 1)
    {
        <div id="view-pagination">
            <div class="row">
                <div class="col s12">
                    <ul class="pagination">
                        @if (Model.PageIndex > Model.StartPage)
                        {
                            <li class="waves-effect">
                                <a href="#!">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a href="#">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        }
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            @if (Model.PageIndex == 0)
                            {
                                Model.PageIndex = 1;
                            }
                            @if (Model.PageIndex == i)
                            {
                                <li class="active">
                                    <a href="/AdminPanel/Account/RolesList?pageId=@i" class="Paginations">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="waves-effect">
                                    <a href="/AdminPanel/Account/RolesList?pageId=@i" class="Paginations">@i</a>
                                </li>
                            }
                        }
                        @if (Model.PageIndex < Model.EndPage)
                        {
                            <li class="waves-effect">
                                <a href="#!">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a href="#!">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    }

</div>



@section Scripts{

    <script>
        $(document).ready(function () {
            $(".paginations").click(function () {
                $("#pageId").val($(this).text());
                $("#formFilter").submit();
            })
        }
        )
    </script>
                }
